+S:CONFIG_ARM=y
+S:CONFIG_TARGET_SOCFPGA_ARRIA10=y
CONFIG_OF_CONTROL=y
CONFIG_DEFAULT_DEVICE_TREE="socfpga_arria10_nand"
CONFIG_SKIP_LOWLEVEL_INIT=n
CONFIG_NAND_DENALI=y
CONFIG_SYS_NAND_DENALI_64BIT=n
CONFIG_NAND_DENALI_SPARE_AREA_SKIP_BYTES=2
