#include <configs/socfpga_agilex5_defconfig>

CONFIG_DEFAULT_DEVICE_TREE="socfpga_agilex5_socdk_emmc"
CONFIG_TARGET_SOCFPGA_AGILEX5_EMMC=y
CONFIG_SPL_DM_REGULATOR_GPIO=n
CONFIG_DM_REGULATOR_GPIO=n
CONFIG_SPL_MMC_UHS_SUPPORT=n
CONFIG_MMC_UHS_SUPPORT=n
CONFIG_SPL_DWAPB_GPIO=n
