#include <configs/socfpga_agilex5_emmc_defconfig>

CONFIG_DEFAULT_DEVICE_TREE="socfpga_agilex5_socdk_a0_emmc"
# CONFIG_MMC_HS200_SUPPORT is not set
# CONFIG_SPL_MMC_HS200_SUPPORT is not set
# CONFIG_MMC_HS400_SUPPORT is not set
# CONFIG_SPL_MMC_HS400_SUPPORT is not set
